.video {
    background-color: black;
    color: white;
    padding: .5rem;
    font-size: .5rem;
}

.local-json {
    max-height: 40vh;
    overflow: scroll;
    background-color: black;
    color: white;
    padding: .5rem;
    font-size: .5rem;
    gap: .1rem;
}